.backups
.bash*
.cache
.cargo
.drop*
.emacs.d
.fehbg
.gnupg
.icons
.lesshst
.local
.mozilla
.rustup
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.wget-hsts
.zcompdump*
.zsh_history
Dropbox
Pictures
snap
.conda
.config/Qt*
.config/nautilus
.python_history
miniconda3
.config/pulse
.dicts
Projects
.goldendict
Downloads
.config/JetBrains
.config/mimeapps.list
.java