" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" Common settings -------------------------
" .ideavimrc related
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
"" let you copy paste from the system and Idea clipboards.
set clipboard+=unnamed
set clipboard+=ideaput
" keeps few lines visible when scrolling
set scrolloff=5
" highlights the search string while typing
set incsearch
set number relativenumber
" which-key
set which-key
set notimeout
" map ESC to jj
imap jk <Esc>
set timeoutlen=500
" leader key
let mapleader=" "

" Distraction Free Mode
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>

" Terminal
nnoremap <m-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>

" Font Size
nnoremap <Leader>- :action EditorDecreaseFontSizeGlobal<CR>
nnoremap <Leader>+ :action EditorIncreaseFontSizeGlobal<CR>

"" Window Navigation
nnoremap <Leader>wv :action SplitVertically<CR>
nnoremap <Leader>ws :action SplitHorizontally<CR>
nnoremap <Leader>wc :action Unsplit<CR>
nnoremap <Leader>wo :action MoveEditorToOppositeTabGroup<CR>
nnoremap <Leader>wn :action EditSourceInNewWindow<CR>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-m> :action HideAllWindows<CR>
nnoremap <s-TAB> :action PreviousTab<CR>
nnoremap <TAB> :action NextTab<CR>
nnoremap <Leader>en :action EditSourceInNewWindow<CR>
nnoremap <Leader>n :action NextWindow<CR>
nnoremap <Leader>qq :action CloseContent<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

"" Source Code Editing
set ideajoin
set idearefactormode=keep
vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <c-c> :action CommentByLineComment<CR>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <Leader>= :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <m-r> :action RecentFiles<CR>
nnoremap <leader>l :action RecentLocations<CR>
nnoremap <leader>h :action LocalHistory.ShowHistory<CR>
nnoremap <leader>R :action RenameElement<CR>
nnoremap <leader>j :action AceAction<CR>
nnoremap <leader>g :action SelectInProjectView<CR>

"" Code Navigation
"" nnoremap <c-/> :action FindInPath<CR>
nnoremap <leader>a :action GotoAction<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>u :action FindUsages<CR>
nnoremap <leader>s :action GotoRelated<CR>
nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <leader>m :action ActivateMavenToolWindow<CR>
nnoremap <leader>b :action ShowNavBar<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap <c-o> :action GotoSymbol<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotToDeclaration<CR>
nnoremap gp :action GotToSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
nnoremap gn :action GotoNextError<CR>
nnoremap gk :action PreviousDiff<CR>
nnoremap gj :action NexDiff<CR>
nnoremap <leader>dn :action NextDiff<CR>
nnoremap <leader>dp :action PreviousDiff<CR>

"" Tool Windows
nnoremap <c-p> :action JumpToLastWindow<CR>
nnoremap <c-x> :action HideAllWindows<CR>

"" Running and Debugging
nnoremap ,r :action Run<CR>
nnoremap ,c :action RunClass<CR>
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,t :action ActivateRunToolWindow<CR>
nnoremap ,u :action Rerun<CR>
nnoremap ,f :action RerunFailedTests<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>

"" Plugins
Plug 'easymotion/vim-easymotion'
map <leader>F <Plug>(easymotion-s)
map <leader>f <Plug>(easymotion-f)

Plug 'preservim/nerdtree'
map <c-t>   :NERDTree<CR>

Plug 'tpope/vim-surround'

Plug 'terryma/vim-multiple-cursors'

Plug 'tpope/vim-commentary'
